@import "~reset-css";
@import "~antd/dist/antd.css";
@import "layouts/_chat.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    background-color: #f4f7fd;
}
body,
html,
#root,
.wrapper {
    height: 100%;
    font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
}

.del {
    color: #afafaf;
}
