.avatar {
    // position: relative;
    border-radius: 50%;
    width: 100%;
    width: 100%;
    height: 100%;

    &--symbol {
        color: #fff;
        text-align: center;
        font-weight: bold;
        line-height: 38px;
        font-size: 20px;
        background: linear-gradient(to left, #1c92d2, #f2fcfe);
    }
}
.name-dialogs {
    position: absolute;
    left: 13px;
    bottom: 9px;
    color: white;
    z-index: 1;
    font-size: 22px;
    font-weight: bold;
}
