@import "../../styles/variables.scss";

.dialogs {
    width: 300px;
    //height: 100%;
    //overflow: auto;

    &__search {
        display: flex;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #f7f7f7;

        span {
            padding: 1px;
            margin: 3px;
            background-color: #363d45;
            border: none;
            border-radius: 10px;
            outline: none;

            &:focus {
                border: none;
                outline: none;
            }
            //width: 250px;
        }

        input {
            border: none;
            background-color: #f7f8f9;
            padding: 0 5px !important;
            margin: 0;
            background-color: #363d45;
            border-radius: 5px !important;
            color: white;
        }
    }

    &__item {
        border-left: 4px solid transparent;

        &:hover {
            cursor: pointer;
            // background-color: #4e94fd;
            // border-left: 4px solid #00cf23;
            background-color: #f7f8f9;
            color: black;
        }
        &.active {
            background-color: #0d1927;
            border-left: 4px solid #00cf23;
            color: $white;
        }

        $item: &;
        display: flex;
        border-bottom: 1px solid #f7f7f70e;
        padding: 14px 0;

        &-avatar {
            position: relative;
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            margin-left: 10px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        &--online {
            #{$item}-avatar {
                &::before {
                    bottom: -2px;
                    right: -2px;
                    display: block;
                    position: absolute;
                    content: "";
                    background-color: $green;
                    border-radius: 30px;
                    width: 14px;
                    height: 14px;
                    border: 3px solid #fff;
                }
            }
        }

        &-info {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            padding-right: 10px;
            &-top {
                display: flex;
                b {
                    font-weight: bold;
                    font-size: 14px;
                    flex: 1;
                    margin-bottom: 6px;
                }
                span {
                    opacity: 0.6;
                    font-size: 12px;
                }
            }
            &-bottom {
                position: relative;
                p {
                    opacity: 0.6;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 210px;
                    white-space: nowrap;
                }
                &-count {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: #f46b6b;
                    color: $white;
                    font-weight: bold;
                    width: 22px;
                    height: 18px;
                    border-radius: 30px;
                    font-size: 11px;
                    text-align: center;
                    line-height: 20px;
                    //box-shadow: 0 0 0 3px #fff;
                }
            }
        }

        &--selected {
            // background-color: #2b80ff;
            background-color: #e9e9e9;
            border-left: 4px solid #2b80ff;
            color: black;
        }
    }
    .message__icon-readed {
        position: absolute;
        bottom: 4px;
        left: 220px;
    }
    .message__icon-readed--no {
        position: absolute;
        bottom: 4px;
        left: 220px;
    }
}
